/* Normalizes default browser styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    height: 3000px;
}


/* Styling Top Announcement Bar at the very top of the page */
.top-bar{
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}
.top-bar > p{
    color: white;
    font-family: var(--font-heading);
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.top-bar > i{
    color: white;
    font-size: 30px;
}
/* styling nav bar */
nav{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding);
    position: sticky;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1001;
}
.nav-logo > img{
    width: 65px;
    height: 65px;
}

/* primary menu-horizontally centered within the nav */
.nav-menu{
    display: flex;
    gap: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Emphasized links : MEN , WOMEN , KIDS */
.nav-link-bold{
    color: black;
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 18px;
}

/* Standard links : BACK TO SCHOOL , SALE , SPORTS , NEW & TRENDING */
.nav-link{
    color: black;
    font-family: var(--font-heading);
    font-weight: 100;
    font-size: 18px;
}

/* Right side wrapper : utility links row + tools row */
.nav-utility{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Helper links row (store finder , help , etc.) + region flag */
.nav-utility-links{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* List of helper links */
.nav-utility-list{
    display: flex;
    gap: 15px;
}
.nav-utility-list > li > a{
    color: black;
    font-size: 0.9rem;
    font-family: var(--font-heading);
    font-weight: 100;
}
.nav-utility-list > li > a:hover{
    border-bottom: 1px solid black;
}

/* Region flag icon size */
.nav-utility-links img{
    height: 10px;
    width: 20px;
}

/* Row containing search input + account/wishlist/cart icon */
.nav-tools{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Container for search input + icons */
.nav-search-input{
    position: relative;
}
.nav-search-input > input{
    height: 30px;
    width: 200px;
    background-color: #e5e5e5;
    border: none;
    padding: 0 2%;
}
.nav-search-input > input::placeholder{
    color: black;
    opacity: 0.7;
}

/* Magnifying glass icon inside the search input */
.nav-search-input > i{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.nav-tools > a > i{
    font-size: 25px;
    color: black;
}

/* ___Hero section___ */


.hero{
    height: 75vh;
    position: relative;
    z-index: 1000;
}

/* Hero background image */
.hero > img{
    width: 100%;
    height: 100%;
}
.hero-caption{
    position: absolute;
    left: 6%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-title{
    background-color: white;
    font-family: var(--font-heading);
    font-weight: 700;
    padding: 1% 2%;
    letter-spacing: 2px;
    font-size: 1.5rem;
    display: inline-block;
}
.hero-description-line{
    background-color: white;
    font-family: var(--font-heading);
    font-weight: 100;
    padding: 1% 2%;
    font-size: 1.2rem;
    display: block;
    width: fit-content;
    margin-bottom: 0px;
}
.hero-description-line:last-child{
    margin-bottom: 0px;
}
.hero-cta{
    background-color: white;
    padding: 3% 7%;
    color: black;
    text-align: center;
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.hero-cta > a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
}
.hero-cta > i{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.latest-drops{
    margin-top: 30px;
    padding: var(--body-padding);
}
.latest-drops-title{
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 2rem;
}
.latest-drops-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.drop-card{
    height: 650px;
}

.drop-card:hover{
    border: 1px solid black;
}
.drop-card > img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    padding: 2px;
}
.drop-card-description{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 3%;
}
.drop-card-description > p{
    height: 30px;
    font-family: var(--font-body);
    font-weight: 100;
    color: black;
}
.drop-card-description > h3{
    font-family: var(--font-body);
    font-weight: 700;
    color: black;
}
.drop-card-description > h5{
    font-family: var(--font-body);
    font-weight: 500;
    color: black;
}