:root{
    /* Primary font used for headings */
    --font-heading : "Barlow Condensed";

    /* font used for body */
    --font-body : "Montserrat";

    /* padding used across header sections */
    --header-padding : 0 3%;

    /* padding used across body sections */
    --body-padding : 0 5%;
}